In [ ]:
# -----Pandas------ #
# It is powerful Python library used to work with structured data. 
# Especially tables like Excel sheets or database tables.

# Importing pandas library
import pandas as pd

# Check version of pandas
print(pd.__version__)

# Create a simple DataFrame
data={
    'Name':['Mostafij', 'Rahim', 'Sakib'],
    'Age': [31,30,40],
    'Job':['Microbiologist','Bioinformatician','Data Scientist'],
    'Salary': [40000, 100000,75000],
    'City':['Dhaka','Chittagong','Rajshahi']
}
df=pd.DataFrame(data)
print(df)

In [ ]:
# Pandas series
# A series is a one-dimensional array-like object that can hold any data type.  
# It is similar to a column in a table.
import pandas as pd
# Create a simple series
S=pd.Series([1,4,5,6,7,8,9,10 ])
print(S)
# Create a series with custom index
S=pd.Series([1,4,6,7,8,90,10], index=['A', 'B', 'C', 'D', 'E', 'F', 'G'])
print(S)
print(S['A'])   # Accessing a value by index
print(S[0])     # Accessing a value by position
print(S[0:4])  # Slicing the series
print(S[['A', 'B', 'C']])  # Accessing multiple values by index

# Key value object as a series
P=pd.Series({"Day": 3, "Month": 10, "Year": 1994})
print(P)
print(P['Day'])  # Accessing a value by key

In [ ]:
# Pandas Dataframe
# A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, 
# or a table with rows and columns.
# It is similar to a spreadsheet or SQL table, or a dictionary of Series objects.

# import pandas as pd
import pandas as pd
# Create a simple DataFrame
data = {
    'Name': ['Mostafij', 'Rahim', 'Sakib'],
    'Age': [31, 30, 40],
    'Job': ['Microbiologist', 'Bioinformatician', 'Data Scientist'],
    'Salary': [40000, 100000, 75000],
    'City': ['Dhaka', 'Chittagong', 'Rajshahi']
}
df = pd.DataFrame(data)
print(df)
print(df.shape)  # Get the shape of the DataFrame (rows, columns)
print(df.columns)  # Get the column names
print(df.loc[0:1])  # Access rows by index
print(df['Name']) # Access a column by name
print(df[['Name', 'Age']])  # Access multiple columns by name
print(df.head(2))  # Get the first 2 rows of the DataFrame
print(df.tail(2))  # Get the last 2 rows of the DataFrame
print(df.info())  # Get information about the DataFrame

In [ ]:
 # -----Pandas------ #
# It is powerful Python library used to work with structured data. 
# Especially tables like Excel sheets or database tables.

# Importing pandas library
import pandas as pd

# Check version of pandas
print(pd.__version__)

# Create a simple DataFrame
data={
    'Name':['Mostafij', 'Rahim', 'Sakib'],
    'Age': [31,30,40],
    'Job':['Microbiologist','Bioinformatician','Data Scientist'],
    'Salary': [40000, 100000,75000],
    'City':['Dhaka','Chittagong','Rajshahi']
}
df=pd.DataFrame(data)
print(df)

In [ ]:
# Pandas series
# A series is a one-dimensional array-like object that can hold any data type.  
# It is similar to a column in a table.
import pandas as pd
# Create a simple series
S=pd.Series([1,4,5,6,7,8,9,10 ])
print(S)
# Create a series with custom index
S=pd.Series([1,4,6,7,8,90,10], index=['A', 'B', 'C', 'D', 'E', 'F', 'G'])
print(S)
print(S['A'])   # Accessing a value by index
print(S[0])     # Accessing a value by position
print(S[0:4])  # Slicing the series
print(S[['A', 'B', 'C']])  # Accessing multiple values by index

# Key value object as a series
P=pd.Series({"Day": 3, "Month": 10, "Year": 1994})
print(P)
print(P['Day'])  # Accessing a value by key

In [ ]:
# Pandas Dataframe
# A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, 
# or a table with rows and columns.
# It is similar to a spreadsheet or SQL table, or a dictionary of Series objects.

# import pandas as pd
import pandas as pd
# Create a simple DataFrame
data = {
    'Name': ['Mostafij', 'Rahim', 'Sakib'],
    'Age': [31, 30, 40],
    'Job': ['Microbiologist', 'Bioinformatician', 'Data Scientist'],
    'Salary': [40000, 100000, 75000],
    'City': ['Dhaka', 'Chittagong', 'Rajshahi']
}
df = pd.DataFrame(data)
print(df)
print(df.shape)  # Get the shape of the DataFrame (rows, columns)
print(df.columns)  # Get the column names
print(df.loc[0:1])  # Access rows by index
print(df['Name']) # Access a column by name
print(df[['Name', 'Age']])  # Access multiple columns by name
print(df.head(2))  # Get the first 2 rows of the DataFrame
print(df.tail(2))  # Get the last 2 rows of the DataFrame
print(df.info())  # Get information about the DataFrame

In [ ]:
# DataFrame
# A DataFrame is a table-like data structure in pandas used to store and analyze data in rows and columns.
# Two dimensional as it has rows and columns.
# Data frame basically is a collection of series objects, where each series represents a column in the DataFrame.
# Create a Basic Datarame
import pandas as pd
Employee_Data = {
    'First_Name': ['Mostafijur', 'Sakib', 'Tareque', 'Rappy'],
    'Last_Name': ['Rahman', 'Hassan', 'Aziz', 'Raj'],
    'Age': [30, 29, 32, 31],
    'Email': ['m.rahman@gmail.com', 'Sk@gmail.com','ta@gmail.com', 'rj@gmail.com'],
    'Employee_ID': [1021175, 1021176, 1021177, 1021178],
    'Salary': [50000, 60000, 70000, 80000],
    'Department': ['IT', 'HR', 'Finance', 'Marketing']
}
Employee_Df=pd.DataFrame(Employee_Data)
Employee_Df
# Accessing a single column
Employee_Df['Email'] # Accessing a column by name

# Accessing multiple columns (Passing columns as a list)
Employee_Df[['First_Name', 'Last_Name']]  # Use two square brakets to access multiple columns
type(Employee_Df['Email'])

# Accessing by index
Employee_Df[0:2]
# Accessing by index and column name
Employee_Df[0:2] ['Last_Name']  # Accessing the first three

# To know the columns of the DataFrame
Employee_Df.columns

# Use iloc to access rows and columns bt index
# iloc is integer location based indexing
Employee_Df.iloc[0]
Employee_Df.iloc[[0,1,2]]
Employee_Df.iloc[[0,1], [0,1]]

# Use loc to access rows and columnsby label
# loc is label based indexing
Employee_Df.loc[0,'Email']
Employee_Df.loc[[0,1], ['Last_Name', 'Email', 'Salary']]

In [ ]:
#  Filtering DataFrame
import pandas as pd
Employee_Info = {
    'First_Name': ['Mostafijur', 'Habibur', 'Sakib', 'Tareque', 'Rappy'],
    'Last_Name': ['Rahman', 'Rahman', 'Hassan', 'Aziz', 'Raj'],
    'Age': [30, 32, 29, 32, 31],
    'Email': ['m.rahman@gmail.com', 'rh@gmail.com', 'Sk@gmail.com','ta@gmail.com', 'rj@gmail.com'],
    'Employee_ID': [1021175, 1021178, 1021176, 1021177, 1021178],
    'Salary': [50000, 40000, 60000, 70000, 80000],
    'Department': ['IT', 'Microbiology', 'HR', 'Finance', 'Marketing']
}
Employee_Df2=pd.DataFrame(Employee_Info)
Employee_Df2['Last_Name']=='Rahman'
filt=(Employee_Df2['Last_Name']=='Rahman')
Employee_Df2[filt]  # Filtering the DataFrame using the filter
Employee_Df2.loc[filt]

# Filtering using multiple conditions
filt2= (Employee_Df2['Last_Name']=='Rahman') & (Employee_Df2['First_Name']=='Mostafijur')
Employee_Df2.loc[filt2]

filt3= (Employee_Df2['Last_Name']=='Rahman') | (Employee_Df2['First_Name']=='Rappy')
Employee_Df2.loc[filt3]

# Use ~ operator to negate the condition
Employee_Df2.loc[~filt3]

# Filtering using isin() method
filt4= Employee_Df2['Last_Name'].isin(['Rahman', 'Hassan'])
Employee_Df2.loc[filt4]

In [ ]:
# Removing Rows and Columns
import pandas as pd
Employee_Info = {
    'First_Name': ['Mostafijur', 'Habibur', 'Sakib', 'Tareque', 'Rappy'],
    'Last_Name': ['Rahman', 'Rahman', 'Hassan', 'Aziz', 'Raj'],
    'Age': [30, 32, 29, 32, 31],
    'Email': ['m.rahman@gmail.com', 'rh@gmail.com', 'Sk@gmail.com','ta@gmail.com', 'rj@gmail.com'],
    'Employee_ID': [1021175, 1021178, 1021176, 1021177, 1021178],
    'Salary': [50000, 40000, 60000, 70000, 80000],
    'Department': ['IT', 'Microbiology', 'HR', 'Finance', 'Marketing']
}
Data_EM=pd.DataFrame(Employee_Info)
Data_EM
Data_EM['Full_Name']=Data_EM['First_Name'] + ' ' + Data_EM['Last_Name'] 
Data_EM 
# Remove a column
Data_EM.drop('Full_Name', axis=1, inplace=True)
Data_EM

# add a new row 
Data_EM.loc[5] = ['Mostafijur', 'Rahman', 30,'m@gmail.com', 1021175, 50000, 'IT']
Data_EM

# Add  two dataframes
Data_EM2 = {'First_Name': 'Asik',
            'Last_Name': 'Foisal',
            'Age': 28,
            'Email': 'as@gmail.com',
            'Employee_ID': 1021179,
            'Salary': 60000,
            'Department': 'HR'}
Data_EM2=pd.DataFrame([Data_EM2])  # Create a DataFrame from the dictionary
# Now add the new row to the DataFrame
Data_EM= pd.concat([Data_EM, Data_EM2], ignore_index=True)  # Concatenate the two DataFrames
Data_EM
# Remove a row
Data_EM.drop(5, axis=0, inplace=True)  # Remove the first row
Data_EM

In [ ]:
# Updating Rows and Columns
import pandas as pd
Employee_Info = {
    'First_Name': ['Mostafijur', 'Habibur', 'Sakib', 'Tareque', 'Rappy'],
    'Last_Name': ['Rahman', 'Rahman', 'Hassan', 'Aziz', 'Raj'],
    'Age': [30, 32, 29, 32, 31],
    'Email': ['m.rahman@gmail.com', 'rh@gmail.com', 'Sk@gmail.com','ta@gmail.com', 'rj@gmail.com'],
    'Employee_ID': [1021175, 1021178, 1021176, 1021177, 1021178],
    'Salary': [50000, 40000, 60000, 70000, 80000],
    'Department': ['IT', 'Microbiology', 'HR', 'Finance', 'Marketing']
}
Data_EM=pd.DataFrame(Employee_Info)
Data_EM
# Upate a columns
Data_EM.columns
Data_EM.rename(columns={'First_Name':'First Name', 'Last_Name': 'Last Name', 'Age':'Age'}, inplace=True)  # Rename columns
Data_EM
Data_EM.columns=(col.upper() for col in Data_EM.columns)  # Convert column names to uppercase
Data_EM
# Update a row
Data_EM.loc[0, 'FIRST NAME'] = 'Mostafijur Rahman'  # Update the first row
Data_EM.loc[0, 'LAST NAME'] = 'Rahman'  # Update the last name of the first row
Data_EM.loc[0, 'AGE'] = 31  # Update the age of the first row

In [18]:
# Cleaning Data
import pandas as pd
import numpy as np
Data={
    'First_Name': ['Mostafijur', 'Habibur', None, 'Tareque', 'NA', 'Asik', 'Sakib', pd.NA, 'Sagor'],
    'Last_Name': ['NA', 'Rahman', 'NA', pd.NA, 'NA', 'Foysal', 'Hasan', 'Rahim', 'Missing'],
    'Salary':[78000, 50000, 30000, 32000, 30000, None, 60000, 50000, 30000],
    'Age':[None, 30, 'NA', 'NA', 32, 27, pd.NA, 34, 23],
    'Department':['IT', 'MB', 'NA', pd.NA, None, 'QC', 'QA', 'MB', 'Missing'],
    'Email':['NA', None, 'NA', None, 'NA', pd.NA, None, 'NA', 'NA']
}
Employee_Data=pd.DataFrame(Data)
Employee_Data

   First_Name Last_Name   Salary   Age Department Email
0  Mostafijur        NA  78000.0  None         IT    NA
1     Habibur    Rahman  50000.0    30         MB  None
2        None        NA  30000.0    NA         NA    NA
3     Tareque      <NA>  32000.0    NA       <NA>  None
4          NA        NA  30000.0    32       None    NA
5        Asik    Foysal      NaN    27         QC  <NA>
6       Sakib     Hasan  60000.0  <NA>         QA  None
7        <NA>     Rahim  50000.0    34         MB    NA
8       Sagor   Missing  30000.0    23    Missing    NA

In [ ]:
# Cleaning DAta (Remove NA)
Employee_Data.dropna()   # Default dropna method
Employee_Data.dropna(axis='index', how='any')  # Default 
Employee_Data.dropna(axis='index', how='all')  # Default 
Employee_Data.dropna(axis='columns', how='all')  # Delete columns which contain all NA Value
Employee_Data.dropna(axis='index', how='any', subset=['Age', 'Salary'])  # Single or multiple columns

  First_Name Last_Name   Salary Age Department Email
1    Habibur    Rahman  50000.0  30         MB  None
2       None        NA  30000.0  NA         NA    NA
3    Tareque      <NA>  32000.0  NA       <NA>  None
4         NA        NA  30000.0  32       None    NA
7       <NA>     Rahim  50000.0  34         MB    NA
8      Sagor   Missing  30000.0  23    Missing    NA

In [28]:
# Replace custom Value by Nan
Employee_Data.replace('NA', np.nan, inplace=True)
Employee_Data.replace("Missing", np.nan, inplace=True)
Employee_Data.replace(pd.NA, np.nan, inplace=True)
Employee_Data
Employee_Data.isna()
Employee_Data.fillna("MISSING")
Employee_Data.fillna(0)
Employee_Data.dtypes

First_Name     object
Last_Name      object
Salary        float64
Age           float64
Department     object
Email         float64
dtype: object

In [30]:
# Mean of Age Column
Employee_Data.Age.mean()

np.float64(29.2)