In [5]:
                    # -----Pandas------ #
# It is powerful Python library used to work with structured data. 
# Especially tables like Excel sheets or database tables.

# Importing pandas library
import pandas as pd

# Check version of pandas
print(pd.__version__)

# Create a simple DataFrame
data={
    'Name':['Mostafij', 'Rahim', 'Sakib'],
    'Age': [31,30,40],
    'Job':['Microbiologist','Bioinformatician','Data Scientist'],
    'Salary': [40000, 100000,75000],
    'City':['Dhaka','Chittagong','Rajshahi']
}
df=pd.DataFrame(data)
print(df)

2.2.3
       Name  Age               Job  Salary        City
0  Mostafij   31    Microbiologist   40000       Dhaka
1     Rahim   30  Bioinformatician  100000  Chittagong
2     Sakib   40    Data Scientist   75000    Rajshahi

In [14]:
# Pandas series
# A series is a one-dimensional array-like object that can hold any data type.  
# It is similar to a column in a table.
import pandas as pd
# Create a simple series
S=pd.Series([1,4,5,6,7,8,9,10 ])
print(S)
# Create a series with custom index
S=pd.Series([1,4,6,7,8,90,10], index=['A', 'B', 'C', 'D', 'E', 'F', 'G'])
print(S)
print(S['A'])   # Accessing a value by index
print(S[0])     # Accessing a value by position
print(S[0:4])  # Slicing the series
print(S[['A', 'B', 'C']])  # Accessing multiple values by index

# Key value object as a series
P=pd.Series({"Day": 3, "Month": 10, "Year": 1994})
print(P)
print(P['Day'])  # Accessing a value by key

0     1
1     4
2     5
3     6
4     7
5     8
6     9
7    10
dtype: int64
A     1
B     4
C     6
D     7
E     8
F    90
G    10
dtype: int64
1
1
A    1
B    4
C    6
D    7
dtype: int64
A    1
B    4
C    6
dtype: int64
Day         3
Month      10
Year     1994
dtype: int64
3

C:\Users\Kamely\AppData\Local\Temp\ipykernel_3504\3247750870.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(S[0])     # Accessing a value by position

In [30]:
# Pandas Dataframe
# A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, 
# or a table with rows and columns.
# It is similar to a spreadsheet or SQL table, or a dictionary of Series objects.

# import pandas as pd
import pandas as pd
# Create a simple DataFrame
data = {
    'Name': ['Mostafij', 'Rahim', 'Sakib'],
    'Age': [31, 30, 40],
    'Job': ['Microbiologist', 'Bioinformatician', 'Data Scientist'],
    'Salary': [40000, 100000, 75000],
    'City': ['Dhaka', 'Chittagong', 'Rajshahi']
}
df = pd.DataFrame(data)
print(df)
print(df.shape)  # Get the shape of the DataFrame (rows, columns)
print(df.columns)  # Get the column names
print(df.loc[0:1])  # Access rows by index
print(df['Name']) # Access a column by name
print(df[['Name', 'Age']])  # Access multiple columns by name
print(df.head(2))  # Get the first 2 rows of the DataFrame
print(df.tail(2))  # Get the last 2 rows of the DataFrame
print(df.info())  # Get information about the DataFrame

       Name  Age               Job  Salary        City
0  Mostafij   31    Microbiologist   40000       Dhaka
1     Rahim   30  Bioinformatician  100000  Chittagong
2     Sakib   40    Data Scientist   75000    Rajshahi
(3, 5)
Index(['Name', 'Age', 'Job', 'Salary', 'City'], dtype='object')
       Name  Age               Job  Salary        City
0  Mostafij   31    Microbiologist   40000       Dhaka
1     Rahim   30  Bioinformatician  100000  Chittagong
0    Mostafij
1       Rahim
2       Sakib
Name: Name, dtype: object
       Name  Age
0  Mostafij   31
1     Rahim   30
2     Sakib   40
       Name  Age               Job  Salary        City
0  Mostafij   31    Microbiologist   40000       Dhaka
1     Rahim   30  Bioinformatician  100000  Chittagong
    Name  Age               Job  Salary        City
1  Rahim   30  Bioinformatician  100000  Chittagong
2  Sakib   40    Data Scientist   75000    Rajshahi
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Job     3 non-null      object
 3   Salary  3 non-null      int64
 4   City    3 non-null      object
dtypes: int64(2), object(3)
memory usage: 252.0+ bytes
None

In [46]:
# Read CSV file into a DataFrame
import pandas as pd
# Read a CSV file into a DataFrame
data=pd.read_csv('Data.csv')
print(data.to_string)
print(data.head())  # Display the first 5 rows of the DataFrame
print(data.info())  # Get information about the DataFrame
print(pd.options.display.max_columns)  # Get the maximum number of column
print(pd.options.display.max_rows)  
print(data.shape)  # Get the shape of the DataFrame (rows, columns)

<bound method DataFrame.to_string of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]>
   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None
20
60
(169, 4)